@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab');
// Color Variables
$blue-green: #455a64;
$dark-grey: #616161;
$jcw-green: #388e3c;

// Font Variables
$font-alegreya: 'Alegreya', serif;
$font-alegreya-sans: 'Alegreya Sans', sans-serif;
$font-merriweather: 'Merriweather', serif;
$font-merriweather-sans: 'Merriweather Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-nunito-sans: 'Nunito Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-quattrocento: 'Quattrocento', serif;
$font-quattrocento-sans: 'Quattrocento Sans', sans-serif;